/*HOME DO SITE*/
body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    width: 100%;
    padding: 17px 0px;
    height: 90px;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    background-color: #F7F7F7;
    z-index: 10500;
}
.logo{
    width: 85px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: .5rem 1rem;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 45px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.btnvestibular {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    background-color: #B20000;
}


.btnsaiba a{
    text-decoration: none;
    font-size: 20px;
    width: 20px;
}
.vestibular {
    background-color: #B20000;
}
a:hover{
    color: #B20000;
}
a:visited{
    color: #e6e6e6;
}


main {
    padding: 20px;
}

.sectionGlass {
    text-align: center;
    background: #d3d3d3;
    margin: 40px;
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.sectionGlass h1{
    margin-right: 55%;
    font-size: 60px;
    margin-bottom: 6%;
}
.sectionGlass p{
    font-style: oblique;
    font-size: 20px;
    margin-bottom: 6%;
}
.sectionGlass .highlight-red {
    color: #B20000;
}

.sectionGlass .highlight-black {
    color: black;
}

.sectionGlass p {
    color: #666;
}

.btnsaiba {
    background-color: #333;
    margin-right: 60%;
    align-items: 20%; 
}

.content-cards {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.card-body {
    background: #F7F7F7;
    padding: 100px;
    border-radius: 20px;
    text-align: center;
    flex: 1;
    min-width: 200px;
    margin-bottom: 6%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

.card-title {
    font-size: 1.5em;
}

.card-text{
    color: #666;
}

.card-text2{
    text-align:inherit;  
    font-size: 17px;
    line-height:1.5em;
}

:root{
    --footer-bar: #7E0000;
}
.footer {
    background-color: #7B0000;
    color: white;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer img {
    height: 60px;
}
.introGlass {
    text-align: left;
}
/*Empresa.HTML*/
.link-empresa{
    font-weight: bolder;
}
.empresas svg{
    width: 1000px;
    margin: 130px;
}
.empresas{
    margin: 0;
    padding: 0 auto;
}

.empresasParceiras {
    display: flex;
    justify-content: center;
}



/*Eventos.HTML*/
.link-eventos{
    font-weight: bolder;
}

.eventosPassados {
    display: flex;
    justify-content: right;
}


/* Pag Inicial */

.containerGlass {
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 100%;
    height: 450px;
}

.containerGlass h3 {
    color: #b20000;
    text-align: left;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: lighter;
}

.containerGlass h2 {
    color: #333;
    font-size: 60px;
    text-align: left;
    margin-bottom: 30px;
}

.highlight {
    color: #b20000;
    font-weight: bold;
}

.containerGlass p {
    color: #555;
    text-align: left;
    font-size: 18px;
}

.btnsaiba {
    float: inline-start;
    background-color: #B20000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btnsaiba:hover {
    background-color: #7E0000;
}

/* Fim teste */

.nav-link{
    width: 160px;
    height: 40px;
    text-decoration: none;
    padding: 5px 6px;
    border-radius: 17px;
    border-color: #f30505;
    background-color: #F7F7F7;
    font-size: 12px;
}
.nav-link a{
    color: #B20000;
}
/*------------------------------------------------------------------------------------------------------------------------------*/




/* PÁGINA Sobre.HTML*/



.container {
    padding: 20px;
    
}
.title1{
    color: #d11a1a;
    margin: 40px;
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 15px;
    font-weight: bolder;
    
}
.artigo2 {
    background-color: #ECECEC;
    padding: 0px 20px 20px;
    margin: 30px;
    border-radius: 10px;
    padding-top: 20px;
    box-shadow: 0px 5px 5px #333;
}

/* Circulos */


.circulos{
    display: flex;
    justify-content: center;
    list-style: none;
    
}

.circulos button{
    display: inline-flex;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 0em 6em;
    border: none;
    cursor: pointer;
    box-shadow: 0px 5px 5px #333;
}

.bolinha svg{
    padding: 21px;
    
}

.red-button {
    background-color: #df2828;
    transition-duration: 0.7s;
    
}

/* Objetivos */

#contentObj {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    width: 100%;
}

.icone{
    display: flex;

}

.objetivo {
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 1.5;
}

.objetivo svg {
    margin-right: 20px;
}

.objetivo p {
    font-size: 16px;
    color: #333;
    
}

.p-content{
    margin-left: 45px;
    margin-bottom: 20px;
}

.title3{
    color: #d11a1a;
    margin: 40px;
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 15px;
    font-weight: bolder;
    
}
.title4{
    color: #d11a1a;
    margin: 40px;
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 15px;
    font-weight: bolder;
    
}
.content {
    font-size: 14px;
    color: #666;
    display: flex;
    align-content: center;
    
}

.gray-box {
    background-color: #f2f2f2;
    padding: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    
}

.dizem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    
}

.dizem h3{
    transform: translate(0, 25px);
}

.fotoAluno {
    width: 150px;
    height: 150px;
    background-color: #737373;
    border-radius: 50%;
    transform: translate(0, 35px);
    box-shadow: 0px 5px 5px #333;
}

.fotoAluno img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #160101;
    box-shadow: 0px 5px 5px #333;
}

.gray-box2 {
    height: 100px;
    width: 1200px;
    border-radius: 20px;
    display: flex;
    justify-content: center; 
    align-items: center;    
    
}

.boxes {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 30px;
    
}

.box {
    width: 270px;
    height: 100px;
    border-radius: 30px;
    background-color: #d3d3d3;
    padding-bottom: 170px;
    box-shadow: 0px 5px 5px #333;
}

.red-box {
    background-color: #d11a1a;
    color: #fff;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    
}

/* Carrossel de Imagens */

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


.carrossel {
    position: relative;
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    box-shadow: 0px 5px 5px #333;
}

.carrossel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    
}

.carrossel-item {
    min-width: 100%;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    padding: 45px;
    max-height: 500px;
    overflow:auto;
}

.carrossel-item img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 40px;
    box-shadow: 0px 5px 5px #333;
}

.carrossel-desc h3 {
    margin: 10px 0;
    font-size: 24px;
}

.carrossel-desc p {
    font-size: 16px;
    color: #555;
    text-align: justify;
    line-height: 1.5em;
}

.carrossel-control {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
    user-select: none;
    transform: translateY(-50%);
}

.carrossel-control.prev {
    left: 10px;
}

.carrossel-control.next {
    right: 10px;
}


/* Grade Curricular */

.headerCard {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.dropdown {
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    color: rgb(178, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

  .headerCard span {
    color: #B20000;
    margin-left: 10px;
  }

  .conteudoGrade {
    display: flex;
    flex-wrap: wrap;
  }
  
  .grade {
    padding: 10px;
  }
  
  .materias {
    width: 300px;
    height: 130px;
    background-color: #ffffff;
    border: 2px solid #d90000;
    border-radius: 15px;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
  }
  
  .materias h5{
    color: #d90000;
  }
  .materias svg {
    max-width: 50px;
    margin-bottom: 10px;
  }

  .materias:hover {
    background-color: #d90000;
    color: white;
  }

  .materias:hover h5, .materias:hover svg {
    color: white;
  }

  .materias:hover svg {
    filter: brightness(0) invert(1);
  }


/* Badges */

.containerBadges {
    background-color: #ffffff;
    width: 950px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.rowBadges {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.badge, .certificado {
    text-align: center;
    flex: 1;
}

.badge svg, .certificado svg {
    width: 55px;
    height: 55px;
    margin-bottom: 10px;
}

.certificado {
    flex: 2;
}

.certificado .semestre {
    color: #7E0000;
}

/* Cards Por quê? */
.carrosselPq {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 25px;
}
.carrosselPq-item {
    background-color: #f7f7f7;
    border-radius: 15px;
    padding: 20px;
    max-width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}
.carrosselPq-item:hover {
    transform: translateY(-10px);
}
.carrosselPq-item svg {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
}
.carrosselPq-item h3 {
    margin: 0 0 10px 0;
    color: #333;
}
.carrosselPq-item p {
    margin: 0;
    color: #313131;
}

/* Carrossel de Opiniões */

.carrosselOp {
    position: relative;
    overflow: hidden;
    border: 2px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
    margin: 0 auto; 
}

.carrossel-innerOp {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carrossel-itemOp {
    min-width: 100%;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    padding: 45px;
    max-height: 500px;
    overflow:auto;
}

.carrossel-itemOp img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 40px;
}

.carrossel-descOp {
    text-align: center;
}

.carrossel-descOp h3 {
    margin: 10px 0;
    font-size: 24px;
}

.carrossel-descOp p {
    font-size: 16px;
    color: #292828;
    text-align: justify;
    line-height: 1.5em;
}

.carrossel-controlOp {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
    user-select: none;
    transform: translateY(-50%);

}

.carrossel-controlOp.prev {
    left: 10px;
    transform: translateX(220%);
}

.carrossel-controlOp.next {
    right: 10px;
    transform: translateX(-220%);
}


/*ÁREA INTERATIVA - areaInterativa.html*/
.filter{
    display: flex;
    margin-bottom: 20px;
}

.filter button{
    padding: 10px 20px;
    background-color: #e6e6e6;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    margin-bottom: 10px;
}

.filter button:hover{
    background-color: #B20000;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 120px;
    margin-top: 15px;
}

.grid-item{
    background-color: #e6e6e6;
    height: 350px;
    width: 270px;
    border-radius: 30px;
    margin-left: 40px;
}
.PAT{
    margin-left: 35px;
    margin-right: 20px;
    list-style: none;
}
.PAT a{
    text-decoration: none;
    color: #160101;
}
.BtnRecentes{
    
    list-style: none;
}
.BtnRecentes a{
    text-decoration: none;
    color: #160101;
}
.breadcrumbs {
    margin: 20px;
}

.breadcrumbs a {
    text-decoration: none;
    color: #B20000;
    margin-right: 5px;
}

.breadcrumbs a:hover {
    text-decoration: underline;
}

.breadcrumbs span {
    margin-right: 5px;
}

.construcao {
    display: flex;
    justify-content: center;
    height: 700px;
}

.construcao svg {
    height: 600px;
}


/*PÁGINA CONTATO.HTML*/

.info-box {
    text-align: center;
    width: 30%;
    margin-bottom: 20px;
    display: inline-block;
}

.info-box a {
    color: #7B0000;
    text-decoration: none;
}

.info-box p {
    margin-bottom: 5px;
    font-size: 18px;
    color: #7B0000;
}
.redes-sociais {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    gap: 10px;
}
.redes-sociais a {
    display: inline-block;
    padding: 10px;
    border-radius: 50%;
    color: #333;
    text-decoration: none;
}

.iframe-container {
    width: 100%;
    margin-bottom: 20px;
}
.iframe-container iframe {
    width: 100%;
    height: 400px;
    border: none;
}

.gMaps {
    border: 3px solid #241b1b;
    border-radius: 4px;
}


/* Topico2.HTML*/

.card{
    background-color: #e6e6e6;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 40px;
    width: 200px;
    height: 350px;
    padding: 15px;
    text-align: center;
    position: relative;
    display: inline-block;
    
}
.card h3{
    margin-top: 330px;
    margin-bottom: 10px;
    font-weight: bolder;
    margin-right: 120px;
    color:#160101;
}

.date{
    background-color: #ccc;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    top: 15px;
    right: 15px;
}

.details{
    font-size: 12px;
    margin-top: 310px;
    color: #777;
    position: absolute;
    left: 15px;
    right: 15px;
}

.texto-topic2{
    margin: 35px;
}