/*HOME DO SITE*/
body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}
.logo{
    width: 180px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.btnvestibular {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    background-color: #ff0000;
}
.btnsaiba{
margin-right: 10%;
padding: 10px 20px;
border-radius: 5px;
color: #fff;
background-color: #160101;
float: inline-start;
}
.btnsaiba a{
    text-decoration: none;
    font-size: 20px;
    width: 20px;
}
.vestibular {
    background-color: #800000;
}
a:hover{
    color: rgb(250, 0, 0);
}
a:visited{
    color: #ffffff;
}


main {
    padding: 20px;
}

.hero {
    text-align: center;
    padding: 80px 20px;
    background: #f9f9f9;
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px #333;
}
.hero h1{
    margin-right: 55%;
    font-size: 60px;
    margin-bottom: 6%;
}
.hero p{
    font-style: oblique;
    font-size: 20px;
    margin-bottom: 6%;
}
.hero .highlight-red {
    color: red;
}

.hero .highlight-black {
    color: black;
}

.hero p {
    color: #666;
}

.btnsaiba {
    background-color: #333;
    margin-right: 60%;
    align-items: 20%;
    
}

.content-cards {
    display: flex;
    justify-content: space-around;
    gap: 20px;

}

.card-body {
    background: #f0f0f0;
    padding: 100px;
    border-radius: 20px;
    text-align: center;
    flex: 1;
    min-width: 200px;
    margin-bottom: 6%;
    box-shadow: 0px 5px 5px #333;
}

.card-title {
    font-size: 1.5em;
}

.card-text {
    color: #666;
}
:root{
    --footer-bar: #8B0000;
}
.footer-bar {
    background-color: #8B0000; 
    height: 50px; 
    border-top: 5px solid #8B0000; 
    width: 100%; 
    position: fixed; 
    bottom: 0;
    left: 0; 
}
.nav-link{
    width: 100px;
    height: 30px;
    text-decoration: none;
    padding: 5px 6px;
    border-radius: 15px;
    border-color: #f70101;
    background-color: #ffffff;
    font-size: 12px;
}
.nav-link a{
    color: #f70101;
}
/*------------------------------------------------------------------------------------------------------------------------------*/


/* PÁGINA Sobre.HTML*/

nav {
    background-color: #fff;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
nav a {
    text-decoration: none;
    color: #333;
}
.login-btn {
    background-color: #d11a1a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.container {
    padding: 20px;
}

.title {
    font-size: 24px;
    margin-bottom: 10px;
}

.content {
    font-size: 14px;
    color: #666;
}

.gray-box {
    background-color: #ececec;
    padding: 10px;
    margin-top: 10px;
}
.boxes {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.box {
    width: 30%;
    height: 100px;
    background-color: #d3d3d3;
}
.red-box {
    background-color: #d11a1a;
    color: #fff;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

/* Pagina sobre o Curso */



.container {
    padding: 20px;
}

.title1{
    color: #d11a1a;
    margin: 40px;
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 15px;
    font-weight: bolder;
}

.artigo2 {
    background-color: #ECECEC;
    padding: 0px 20px 20px;
    margin: 30px;
    border-radius: 10px;
    padding-top: 20px;
    box-shadow: 0px 5px 5px #333;
}

/* Circulos e breadcrumbs */

/*
.breadcrumb {
    list-style: none;
    display: flex;
    background-color: #ECECEC;
}

.breadcrumb li {
    margin: 0 5px;
    
}

.breadcrumb li p {
    text-decoration: none;  
}


.breadcrumb li p.active {
    color: red;
    transition-duration: 0.4s;
    
}

.breadcrumb p::after{
    content: "  /  ";
}
*/

.circulos{
    display: flex;
    justify-content: center;
    list-style: none;
}

.circulos button{
    display: inline-flex;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 0em 6em;
    border: none;
    box-shadow: 0px 5px 5px #333;
}

.bolinha svg{
    padding: 21px;
}

.red-button {
    background-color: #df2828;
    transition-duration: 0.7s;
}

/* Objetivos */

#contentObj {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    width: 100%;
}

.objetivo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.objetivo svg {
    margin-right: 20px;
}

.objetivo p {
    font-size: 16px;
    color: #333;
}

.p-content{
    margin-left: 45px;
}

.title3{
    color: #d11a1a;
    margin: 40px;
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 15px;
    font-weight: bolder;
}
.title4{
    color: #d11a1a;
    margin: 40px;
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 15px;
    font-weight: bolder;
}
.content {
    font-size: 14px;
    color: #666;
    display: flex;
    align-content: center;
}

.gray-box {
    background-color: #ececec;
    padding: 70px;
    margin-top: 50px;
    margin: 40px;
    box-shadow: 0px 5px 5px #333;
}
.BolaCinza{
    width: 100px;
    height: 100px;
    background-color: #d3d3d3;
    border-radius: 50%;
    display: inline-block;
    margin-left: 600px;
    margin-top: 40px;
    box-shadow: 0px 5px 5px #333;
}
.gray-box2{
    height: 50px;
    width: 600px;
    border-radius: 20px;
    margin-left: 280px;
    margin-top: 25px;
    box-shadow: 0px 5px 5px #333;

}
.boxes {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 30px;
    
}

.box {
    width: 270px;
    height: 100px;
    border-radius: 30px;
    background-color: #d3d3d3;
    padding-bottom: 170px;
    box-shadow: 0px 5px 5px #333;
}

.red-box {
    background-color: #d11a1a;
    color: #fff;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

/* Testes */





/* Carrossel de Imagens */


#content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.carrossel {
    position: relative;
    max-width: 1000px;
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.carrossel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carrossel-item {
    min-width: 100%;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    padding: 20px;
}

.carrossel-item img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 40px;
}

.carrossel-caption {
    text-align: center;
}

.carrossel-caption h3 {
    margin: 10px 0;
    font-size: 24px;
}

.carrossel-caption p {
    font-size: 14px;
    color: #555;
}

.carrossel-control {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
    user-select: none;
    transform: translateY(-50%);
}

.carrossel-control.prev {
    left: 10px;
}

.carrossel-control.next {
    right: 10px;
}


/*ÁREA INTERATIVA - areaInterativa.html*/
.filter{
    display: flex;
    margin-bottom: 20px;
}

.filter button{
    padding: 10px 20px;
    background-color: #ddd;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    margin-bottom: 10px;
    box-shadow: 0px 5px 5px #333;
}

.filter button:hover{
    background-color: #e94949;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.grid-item{
    background-color: #f1f1f1;
    height: 300px;
    width: 270px;
    border-radius: 30px;
    margin-left: 40px;
    box-shadow: 0px 5px 5px #333;
}
.PAT{
    margin-left: 35px;
    margin-right: 20px;
}
.breadcrumbs {
    margin: 20px;
}

.breadcrumbs a {
    text-decoration: none;
    color: #ff0d0d;
    margin-right: 5px;
}

.breadcrumbs a:hover {
    text-decoration: underline;
}

.breadcrumbs span {
    margin-right: 5px;
}

/*PÁGINA CONTATO.HTML*/

.btnContato{
    border-radius: 30px;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
}
.btnContato2{
    border-radius: 30px;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
}
.btnContato3{
    border-radius: 30px;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

